<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p> よく見られているトピック<br><br>
      ・<a href= "https://railstutorial.jp/#ebook">アカウントの登録</a><br>
      ・<a href= "https://railstutorial.jp/#ebook">投稿方法について</a>
    </p>
