  <div class="row">
   <div class="center-block">

    <div class="col-md-8" >
       <h3>Post Feed</h3>
       <p>content serch</p>
         <%= form_tag home_path, :method => 'get' do %>
         <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
         </p>
        <% end %> 
       <%= render 'shared/feed' %>
    </div> 
   </div> 
  </div>  