<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <div class="one_come">
      <%= link_to "#{comment.user.name}", comment.user, class: "cmntname" %>
      <span class="comment_content">
        <%= comment.content %>
      </span>
      <% if comment.user == current_user %>
        <span class="delete_cmnt">
           <%= link_to "削除",post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "cmnt_delete" %>
        </span>
      <% end %>
    </div>
  <% end %>
<% end %>